<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Inscrivez vous</h1>
    <!-- avatar: '', prenom: '', nom: '', email: '', dateNaiss: '',telephone: '', password: '', confirm_password: '', adresse: '', zipcode: '', ville: '',pays: '1' -->

    <div class="form-container">
      <ion-item >
        <ion-label position="floating">prenom</ion-label>
        <ion-input type="text" [(ngModel)]="user.prenom"></ion-input>
      </ion-item>
    
        <ion-item >
          <ion-label position="floating">nom</ion-label>
          <ion-input type="text" [(ngModel)]="user.nom"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">datdeNaissance</ion-label>
          <ion-input type="date" [(ngModel)]="user.dateNaiss"></ion-input>
        </ion-item>
        <ion-item >
        <ion-label position="floating">Email</ion-label>
        <ion-input (keydown)="checkEmail()" type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item [ngClass]="user.password.trim().length < 5 ? 'errorEmail' : 'goodEmail'">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>
      <ion-item [ngClass]="isErrorPhone ? 'errorEmail' : 'goodEmail'">
        <ion-label position="floating">adresse</ion-label>
        <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.adresse"></ion-input>
      </ion-item>
      <ion-item [ngClass]="isErrorPhone ? 'errorEmail' : 'goodEmail'">
        <ion-label position="floating">confirm_password</ion-label>
        <ion-input type="password" [(ngModel)]="user.confirm_password"></ion-input>
      </ion-item>
      <ion-item [ngClass]="isErrorPhone ? 'errorEmail' : 'goodEmail'">
        <ion-label position="floating">telephone</ion-label>
        <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.telephone"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">zipcode</ion-label>
        <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.zipcode"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">ville</ion-label>
        <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.ville"></ion-input>
      </ion-item>
      <ion-item [ngClass]="isErrorPhone ? 'errorEmail' : 'goodEmail'">
        <ion-label position="floating">pays</ion-label>
        <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.pays"></ion-input>
      </ion-item>
      


      <ion-button   routerLink="/login" (click)="register()"  expand="block" class="main-button">Inscrivez vous</ion-button>

      <div class="sign-up">
        Vous avez un compte ? <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Connecter vous</ion-button>
      </div>
    </div>
  </div>
</ion-content>
